@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
     border: none;
}
    body {
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-decoration: none;
        font-size: 20px;
    }

.container{
    max-width: 1200px;
    margin:0 auto ;
    padding: 48px 32px;
}
.container .tittle{
    text-align: center;
    text-transform: uppercase;
    color: #444;
    margin-bottom: 48px;
    font-size: 20px;
}
.boxses{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 380px
}
.box{
    text-align: center;
    background-color: #fff;
    padding: 48px 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    margin-top: 10px;
}
.box img{
    height: 300px;
    width: 100%;
}

button:hover{background-color: rgb(238, 235, 235);
    color: black;border:1px   solid #000;
}

button{background-color: black;
    color: white;cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 16px;
    line-height: 12px;
    margin-top: 23px;
}